*{
    margin: 0;
    padding: 0;
}
.first-bannar-flower{
    background-color: rgba(229, 84, 115, 0.10);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;

}
.first-flower-left{
    margin-right: 20px;
    padding: 80px;

}
.first-flower-right{
    padding-top: 100px;
    padding-right: 80px;
   
   
  
    
}

.flower-title{
    color:  #181818;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
   padding-bottom: 15px;
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 20px;
}
.btn-shop{
   color: #FFF;
   background-color:rgb(243, 18, 18);
   font-family: Lato;
   font-size: 20px;
   font-style: normal;
   padding: 5px;
   padding-bottom: 8px;
   border-radius: 5px;
}

.flower-info{
    text-align: center;
    padding-top: 60px;
}
.featured-title{
    color: #272727;
  
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
   padding-top: 10px;
}

.flower-tree-container{
    height: 500px;
}




.flower-tree-list{
    width: 650px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

    
}
.first-flower-tree{
    border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15); 
   margin-right: 15px;
   justify-content: center;
   padding: 20px;

}
.second-flower-tree{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 15px;
    padding: 20px;

}
.third-flower-tree{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 15px;
    padding: 20px;

}
.color-flower-tree{
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;


}