*{
    margin: 0;
    padding: 0;
}
/* first bannar part  */
.first-bannar-flower{
    background-color: rgba(229, 84, 115, 0.10);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;

}
.first-flower-left{
    margin-right: 20px;
    padding: 80px;

}
.first-flower-right{
    padding-top: 100px;
    padding-right: 80px;
    
}

.flower-title{
    color:  #181818;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
   padding-bottom: 15px;
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 20px;
}
.btn-shop{
   color: #FFF;
   background-color:#E55473;
   font-family: Lato;
   font-size: 20px;
   font-style: normal;
   padding: 5px;
   padding-bottom: 8px;
   border-radius: 5px;
}
/* bannar closed */



/* Featured Flowers start */
.flower-info{
    text-align: center;
    padding-top: 60px;
}
.featured-title{
    color: #272727;
  
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
   padding-top: 10px;
}

.flower-tree-container{
    height: 500px;
}

.flower-tree-list{
    width: 650px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

    
}
.first-flower-tree{
    border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15); 
   margin-right: 15px;
   justify-content: center;
   padding: 20px;
   height: 230px;

}
.second-flower-tree{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 15px;
    height: 230px;
    padding: 20px;

}
.third-flower-tree{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-right: 15px;
    height: 230px;
    padding: 20px;

}
.color-flower-tree{
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;


}
.pink-flower{
    padding-top: 50px; 
}

/* Featured Flowers end */

 /* flower discount style */
.discount-container{
    background: rgba(229, 84, 115, 0.05);
    height: 400px;
    text-align: center;
    align-items: center;
   justify-content: space-around;
}
.discount-off{
    display: flex;
    height: 400px;
    width: 800px;
    text-align: center;
    align-items: center;
   justify-content: space-around;
   margin: 0 auto;
  

}
.discount-title{
    color: #272727;
   margin-bottom: 10px;
   font-size: 33px;
}
.off{
    color: #E55473;
}
.discount-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 10px;
    
}

.discount-btn{
     color: #FFF;
     font-size: 17px;
     font-style: normal;
     background: #E55473;
     padding: 5px;
     border-radius: 5px;
}
.discount-info{
    text-align: center;

}
.discout-flower-pic{
    height: 300px;
   
}

/* flower discount style end */

/* instagram */

.instagram-div{
    height: 500px;
}
.instagram-info{
    text-align: center;
    margin-top: 80px;
}
.instagram-title{
    color: #272727;
    font-size: 20px;
}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
   padding-top: 8px;
}
.instagram-flower-add{
    display: flex;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;

}

.flower-img{
    height: 250px;
    margin-right: 8px;
    

}

.deals-info{
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    height: 400px;
    /* background-position: center; */
    background-size: 850px;
    width: 1050px;
    margin: 0px auto;
    text-align: center;
    margin-right: 37px;

}
.center-text{
  padding-top: 80px;
  margin-right: 90px;

}
.deals-title{
color: #272727;
text-align: center;
font-size: 20px;
font-style: normal;
margin-top: 5px;
}
.deals-description{
 color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-style: normal;
margin-top: 5px;
}
.input-div{
    display: flex;
    text-align: center;
    margin-left: 380px;
    margin-top: 12px;
    position: relative;
}
input{
    padding: 10px;
    width: 250px;
    margin-right: 50px;
}
.btn-sub{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    background: #E55473;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    margin-left: 275px; 
}

/* order */
.order-container{
    height: 450px;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
}
.order-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rose-flower{
    width: 600px;
    height: 400px;
    margin-bottom: 128px;

}

.order-input-flex{
    display: flex;
    gap: 5px;
}

.order-right-side{
    margin-left: 40px;
    margin-bottom: 140px;
}

.order-title{
   font-size: 25px;
   margin-top: 10px;
}

.order-description{
color: #272727;
font-size: 15px;
font-style: normal;
margin-top: 15px;

}

.order-input-flex{
    margin-top: 20px;
}

.order-input{
    margin-top: 20px;

}

.description-order-input{
    margin-top: 20px;
    padding: 20px;
}
.btn-order{
    color: #FFF;
     font-size: 17px;
     font-style: normal;
     background: #E55473;
     padding: 5px;
     border-radius: 5px;
     margin-top: 10px;

}

/* .display-blog{
    display: block;
    width: 90%;
} */

textarea{
    display: block;
    width: 50%;

}

/* flower order style end */


/* footer style start*/

.footer{
    height: 300px;
    background: #111010;
}
.footer-info{
    color: #FFF;
    text-align: center;
    margin-bottom: 150px;
    padding: 90px;
    
}
.footer-title{
    font-size: 25px;
    margin-bottom: 10px;

}

.footer-text-color{
color: #E55473;
font-size: 25px;
font-style: normal;
}

.footer-description{
color: rgb(214, 196, 196);
text-align: center;
font-size: 18px;
font-style: normal;
margin-top: 20px;
}
.copy-paste{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 12px;
font-style: normal;
margin-top: 10px;
}
/* footer style close */